<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <h1>FAQ</h1>
    </div>
    <div class="rte">
      <h1>FAQ</h1>
      {% section 'page-faq-template' %}
    </div>
  </div>
</div>
